<!DOCTYPE html>
{% load static %}
<head>
    {% block title %}{% endblock %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel = "stylesheet" href = "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity = "sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel = "stylesheet" type = "text/css" href = "{% static 'css/layout.css' %}">
    <!--<script src = "{% static 'js/layout.js' %}"></script>-->
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-light">
        <button class="navbar-toggler navbar-toggler-right ml-auto" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" aria-controls="collapsibleNavbar" aria-c>
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse h-100" id="collapsibleNavbar">
            <ul class = "navbar-nav h-100">
                <li><a class = "nav-link" href = "{% url 'home' %}">Home</a></li>
                <li><a class = "nav-link" href = "{% url 'menu' %}">Menu</a></li>
            </ul>

            <ul class = "navbar-nav h-100 ml-auto">
                {% if user.is_authenticated %}
                <li><div class = "nav-link no-hover w-100" style = "float: right;">Hi, {{user.first_name}}!</div></li>
                <li><a class = "nav-link w-100" href = "{% url 'order' %}" style = "float: right;">View Orders</a></li>
                <li><a class = "nav-link w-100" href = "{% url 'logout' %}" style = "float: right;">Logout</a></li>
                {% else %}
                <li><a class = "nav-link w-100" href = "{% url 'login' %}" style = "float: right;">Login</a></li>
                <li><a class = "nav-link w-100" href = "{% url 'register' %}" style = "float: right;">Register</a></li>
                {% endif %}
            </ul>
                
        </div>
        
    </nav>

{% block body %}
{% endblock %}

</body>
