{% extends "layout.html" %}
{% load static %}

{% block title %}
<title>Menu</title>
<link rel = "stylesheet" type = "text/css" href = "{% static 'css/menu.css' %}">
{% endblock %}

{% block body %}
{% for category in foodCategory%}
<a class = "wrapper" href = "{% url category|lower %}">
    <img class = "h-100" src = "{% static '' %}images/{{category}}.jpg" alt = {{category}}>
    <div style = "display: flex; height: 100%; align-items: center;">
        <p class = "name">
            {{category}}
        </p>
    </div>
</a>
{% endfor %}

{% endblock %}