{% extends "layout.html" %}
{% load static %}

{% block title %}
<title>Register</title>
<link rel = "stylesheet" type = "text/css" href = "{% static 'css/register.css' %}">
{% endblock %}

{% block body %}
<form action = "{% url 'register' %}" class = "form-group main" method = "POST">
    {% csrf_token %}
    <h2 style = "text-align: center">Register</h2>
    <div class = "form-row" style = "width: 60%; margin: 10px 20%;">
        <div class = "form-group col-md-6" style = "margin-bottom: 0px; padding-left: 0px;">
            <label for = "firstname">Firstname</label>
            <input name = "firstname" id = "firstname" type = "text" class = "form-control" placeholder= "First Name" required>
        </div>
        <div class = "form-group col-md-6" style = "margin-bottom: 0px; padding-right: 0px;">
            <label for = "lastname">Lastname</label>
            <input name = "lastname" id = "lastname" type = "text" class = "form-control" placeholder= "Last Name" required>
        </div>
    </div>

    <div class = "form-group" style = "width: 60%; margin: 10px 20%;">
        <label for = "email">Please Enter a Email:</label>
        <input name = "email" id = "email" type = "text" class = "form-control" placeholder= "Username" required>
    </div>

    <div class = "form-group" style = "width: 60%; margin: 10px 20%;">
        <label for = "username">Please Enter a Username:</label>
        <input name = "username" id = "username" type = "text" class = "form-control" placeholder= "Username" required>
    </div>
    
    <div class = "form-group" style = "width: 60%; margin: 10px 20%;">
        <label for = "password">Please Enter a Password:</label>
        <input name = "password" id = "password" type = "password" class = "form-control" placeholder= "Password" required>
    </div>
    <div class = "form-group" style = "width: 60%; margin: 10px 20%;">
        <label for = "password2">Confirm Your Password:</label>
        <input name = "password2" id = "password2" type = "password" class = "form-control" placeholder= "Password" required>
    </div>
    {% if message %}
    <p id = "message" style = "text-align: center; color: red;">{{message}}</p>
    {% endif %}
    <button class = "btn btn-primary" style = "width: 60%; margin: 10px 20%;">Create Account</button>
</form>
{% endblock %}
